### 1.1. Importing the necessary libraries for the project

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

### 1.2. Data reading and cleaning
using the given data set I will save it in a pandas dataframe called stocks

In [6]:
stocks = pd.read_csv("joined.csv")

C:\Users\Administrator\AppData\Local\Temp\ipykernel_160\3339995616.py:1: DtypeWarning: Columns (3,4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  stocks = pd.read_csv("joined.csv")

I will now look at how the data looks like usign describe and head

In [7]:
stocks.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,134440,134440,134440,134440,134440,134440,134440,134440,134440,134440,134440,134440,134440
unique,1992,73,73,217,425,12083,12085,12848,12842,3826,1108,17010,2829
top,24-Mar-17,EGAD,Eaagads Ltd,2,55.5,5.5,5.5,5.5,5.5,-,-,-,-
freq,138,1993,1993,3733,3765,1826,1788,1685,1686,48531,48576,37148,117491

In [8]:
stocks.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,2-Jan-13,EGAD,Eaagads Ltd,8.2,14,25,25,25,25,-,-,-,-25
1,2-Jan-13,KUKZ,Kakuzi Plc,300,423.5,67.5,67.5,67.5,72,-4.5,6.25%,300,-
2,2-Jan-13,KAPC,Kapchorua Tea Kenya Plc,59,95,118,118,118,118,-,-,-,59
3,2-Jan-13,LIMT,Limuru Tea Plc,385,475,430,430,430,430,-,-,-,215
4,2-Jan-13,SASN,Sasini Plc,14.8,19.6,11.7,12.05,11.9,11.7,0.2,1.71%,"14,500",-

Now I will check the values under the "Change" column

In [9]:
stocks.value_counts("Change")

Change
-        48531
-0.05     6007
0.05      5440
-0.25     3534
-0.1      3466
         ...
11.09        1
11.14        1
11.17        1
11.18        1
99.96        1
Length: 3826, dtype: int64

In [10]:
print(stocks.value_counts("Change"))

Change
-        48531
-0.05     6007
0.05      5440
-0.25     3534
-0.1      3466
         ...
11.09        1
11.14        1
11.17        1
11.18        1
99.96        1
Length: 3826, dtype: int64

Now the variables column is spelled correctly! YAY. 


### 1.3. Changing date column to datetime format

In [11]:
stocks.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [12]:
stocks['Date']= pd.to_datetime(stocks['DATE'])

stocks.dtypes

DATE                 object
CODE                 object
NAME                 object
12m Low              object
12m High             object
Day Low              object
Day High             object
Day Price            object
Previous             object
Change               object
Change%              object
Volume               object
Adjust               object
Date         datetime64[ns]
dtype: object

### 1.4. Creating a dataframe with variables as columns and date as index using a pivot table

In [13]:
stocks.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust,Date
0,2-Jan-13,EGAD,Eaagads Ltd,8.2,14,25,25,25,25,-,-,-,-25,2013-01-02
1,2-Jan-13,KUKZ,Kakuzi Plc,300,423.5,67.5,67.5,67.5,72,-4.5,6.25%,300,-,2013-01-02
2,2-Jan-13,KAPC,Kapchorua Tea Kenya Plc,59,95,118,118,118,118,-,-,-,59,2013-01-02
3,2-Jan-13,LIMT,Limuru Tea Plc,385,475,430,430,430,430,-,-,-,215,2013-01-02
4,2-Jan-13,SASN,Sasini Plc,14.8,19.6,11.7,12.05,11.9,11.7,0.2,1.71%,"14,500",-,2013-01-02

In [14]:
stocks.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust',
       'Date'],
      dtype='object')

now that it's in a dataframe with the format I like I will remove the columns I do not need

### 1.5. Check and address the missing values

Using isna I will check for null values

In [15]:
stocks.isna().sum()

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
Date         0
dtype: int64

to address the null values I will use linear interpolation which uses adjacent values to estimate the missing value

In [16]:
stocks.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust,Date
0,2-Jan-13,EGAD,Eaagads Ltd,8.2,14,25,25,25,25,-,-,-,-25,2013-01-02
1,2-Jan-13,KUKZ,Kakuzi Plc,300,423.5,67.5,67.5,67.5,72,-4.5,6.25%,300,-,2013-01-02
2,2-Jan-13,KAPC,Kapchorua Tea Kenya Plc,59,95,118,118,118,118,-,-,-,59,2013-01-02
3,2-Jan-13,LIMT,Limuru Tea Plc,385,475,430,430,430,430,-,-,-,215,2013-01-02
4,2-Jan-13,SASN,Sasini Plc,14.8,19.6,11.7,12.05,11.9,11.7,0.2,1.71%,"14,500",-,2013-01-02